/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, left,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
background-color: #DAFAF8;
color: #2A2B5F;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

.container {
display: block;
width: 90%;
max-width: 1100px;
margin: 0 auto;
padding-left: 10%;
}

header {
background-color: #393C83;
color: white;
padding: 10em 0 2em;
margin-bottom: 5em;
text-align: left;
}

h1 {
font-size: 3rem;
}

h3 {
color: #F21368;
margin: .35em 0;
font-size: 1.5rem;
}

h1,h2, h3, h4,h5,h6 {
font-family: 'Copse', Helvetica, Arial, sans-serif;
font-weight: 800;
text-align: left;
}

.titulo {
color:red;
font-size: 20px;
}

form {
margin: 0 auto;
padding: 0;
overflow: hidden;
}

label {
display: block;
font-family: 'Copse', Helvetica, Arial, sans-serif;
font-weight: 800;
color: #393C83;
margin: 1.2em 0 .5em;
}

input, select {
width: 100%;
border-radius: 3px;
border: 1px solid #f1f1f1;
line-height: 120%;
padding: 1%;
font-size: 120%;
transition: .5s ease all;
}

.texto ul {
overflow: hidden;
  margin: 1em 0;
}

.texto ul li {
margin-bottom: .5em;
}

.usuario {
overflow: hidden;
margin-bottom: 5em; 
}

.usuario img {
display: block;
float: left;
width: initial;
border-radius: 20%;
background: white;
padding: 0;
border: 20px solid transparent;
max-width: 100px;
margin-bottom: 10em;
}

.usuario .texto {
display: block;
overflow: hidden;
float: left;
margin: 0 1em;
width: 60%;
}

.usuario .texto .jovi {
display: inline-block;
float: left;
margin: 1em 1em 1em 0;
padding: 0 0 4px;
}

.usuario .comentarios {
float: left;
margin: 1em;
width: 500px;
}

.usuario .comentarios textarea {
width: 98.8%;
min-height: 60px;
}

.usuario .comentarios .btn {
float: right;
}
.usuario .comentarios h4 {
  width: 100%;
display: block;
overflow: hidden;
}
.comentarios form {
margin-bottom: 1em;
}
.usuario .comentarios .singleComment {
display: block;
width: 94%;
padding: .5em 0 0 5%;
overflow: hidden;
border-left: 5px solid #F21368;
}
.usuario .comentarios .singleComment p, .usuario .comentarios .singleComment .likes {
float: left;
display: block;
margin: 0;
}
.usuario .comentarios .singleComment p {
width: 85%;
padding: 10px 0;
}
.usuario .comentarios .singleComment .likes {
width: 13%;
padding: 10px 0 10px 2%;
}
.usuario .comentarios .singleComment .likes span {
    color: #F21368;
    font-family: 'Copse', Helvetica, Arial, sans-serif;
    border-bottom: snow;
    padding: 6px 0;
    text-align: right;
    display: block;
    float: left;
}
.btn.btn-heart {
margin: 0;
padding: .7em;
font-size: 70%;
background-color: #F21368
}

.btn {
display: block;
text-align: center;
font-family: 'Copse', Helvetica, Arial, sans-serif;
font-weight: 800;
cursor: pointer;
color: #fff;
background-color: #393C83;
letter-spacing: 1px;
font-size: 90%;
padding: 1em;
transition: .5s ease all;
margin: .5em 0 0;
border: transparent;
border-radius: 5px;
}

.btn:hover, .btn:active, .btn:focus {
opacity: .8;
transition: .5s ease all;
}

p {
font-family: 'Open Sans', sans-serif;
display: block;
margin: 1em 0;
line-height: 1.7;
text-align: left;
}

span {
border-bottom: 2px #393C83 solid;
font-weight: 700;
}

b {
font-family: 'Copse', Helvetica, Arial, sans-serif;
font-weight: 800;
font-size: 112%;
color: #393C83;
}

small {
font-size: .8rem;
}

footer {
display: block;
text-align: center;
width: 100%;
margin: 5em 0 0;
padding: 0 0 2em;
}
